:root {
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  --primary-light: #4de7b7;
  --primary: #ca3826;
  --secondary: #339f68;
  --primary-dark: #065f46;

  --link-color: #ca3826;
  --link-houver: #e26352;

  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;

  --work: #ca3826;
  --rest: #1e66d3;
  --longrest: #14805c;

  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-ligth: #0a0f1a;
  --text-over-sucess: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0;
  --text-muted: #aab3cc;

  --disabled: #555f7d;
  --text-disable: #aab3cc;

  --toastify-color-light: var(--text-gray);
  --toastify-color-dark: var(--gray-700);
  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--error);
  --toastify-text-color-light: #0a0f1a;
  --toastify-text-color-dark: #e6e9f0;
  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);
}
.Toastify__close-button {
  color: var(--toastify-text-color-dark);
}
:root[data-theme="light"] {
  --gray-900: #cdd3e1;
  --gray-700: #aab3cc;
  --gray-600: #555f7d;
  --gray-500: #454f6a;
  --gray-400: #363d56;
  --gray-300: #272f43;
  --gray-200: #181f2e;
  --gray-100: #0a0f1a;

  --link-color: #ca3826;
  --link-houver: #e26352;

  --text-default: #181f2e;
  --text-muted: #272f43;

  --disabled: #555f7d;
  --text-disable: #aab3cc;

  --toastify-text-color-light: #0a0f1a;
  --toastify-text-color-dark: #0a0f1a;
}
