.buttonplay button {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  color: var(--text-over-primary);
  border-radius: 0.8rem;
  border: none;
  background-color: var(--error);
}

.buttonDefault {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonplay svg {
  width: 2rem;
  height: 2rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
