.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.footer .info {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.footer .info:hover {
  text-decoration: underline;
}

.infoLink:hover {
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
  color: var(--text-defaultt);
  font-size: 1.2rem;
}

.footer p {
  color: var(--text-defaultt);
  font-size: 1.2rem;
}
